{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Type</th>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td class="text-start">{{ t.type }}</td>
                    <td class="text-start">{{ t.symbol }}</td>
                    <td class="text-end">{{ t.shares | abs }}</td>
                    <td class="text-end">{{ t.price | usd }}</td>
                    <td class="text-end">{{ t.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not transactions %}
        <p class="text-muted">No transactions yet.</p>
    {% endif %}

{% endblock %}
